* {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  padding: 3px;
}
img.icon {
  padding: 0;
  border: 0;
  background: transparent;
}
hr {
  clear: both;
  float: none;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.75), rgba(51, 51, 51, 0));
  background-image: -moz-linear-gradient(left, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.75), rgba(51, 51, 51, 0));
  background-image: -ms-linear-gradient(left, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.75), rgba(51, 51, 51, 0));
  background-image: -o-linear-gradient(left, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0.75), rgba(51, 51, 51, 0));
}
.row-fluid {
  max-width: 1000px;
  margin: 0 auto;
}
.row-fluid header {
  font-family: Georgia, serif;
  margin: 0 auto !important;
  text-align: center;
  float: right !important;
}
.row-fluid header img {
  max-height: 60px;
}
.row-fluid article {
  font-size: 14px;
  line-height: 1.6em;
  font-family: Georgia, serif;
}
.row-fluid article .topics {
  margin: 0 auto;
}
.row-fluid article .topics ul {
  width: 50%;
}
.row-fluid article .topics ul:nth-child(even) {
  float: left;
}
.row-fluid article .topics ul:nth-child(odd) {
  float: right;
}
.row-fluid article.topic img {
  display: block;
}
.row-fluid aside {
  margin-top: 36px;
}
.row-fluid footer {
  padding: 0 0 30px 0;
  text-align: center;
  display: block;
}
@media screen and (min-width: 600px) {
  .row-fluid article {
    min-height: 400px;
  }
}
